body {
    background-color: #fff;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 99px;
    background-color: black;
    display: flex;

}

.headlogo {
    width: 220px;
    height: 105px;
    /* background-color: blue; */
}

.boselogo {
    width: 77px;
    float: right;
}

.headmenu {
    /* background-color: blueviolet; */
    width: 700px;
    height: 20px;
    margin-top: 60px;
    margin-left: 100px;
}

.headmenubt1 {
    background-color: #fff;
    font-family: BoseText, Verdana, sans-serif;
    border-radius: 20px;
    font-weight: 540;
    font-size: 12px;

}

.otherbt {
    background-color: transparent;
    /* font-family: BoseText,Verdana,sans-serif; */
    border-radius: 20px;
    font-weight: 640;
    font-size: 12px;
    margin-left: 24px;
    color: #fff;
    border: transparent;

}

.headmenubt1:hover {
    font-weight: 600;

}

.otherbt:hover {
    color: #8c8c8c;
    letter-spacing: .3px;
}

.inputboxdiv {
    width: 285px;
    height: 24px;
    background-color: #fff;
    margin-left: 865px;
    margin-top: 15.5px;
    border-radius: 30px;
    position: absolute;

}

.inputmod {
    width: 220px;
    height: 24px;
    margin-left: 15px;
    border-radius: 30px;
    border: transparent;
    padding-top: 2px;
}

.inputboxdiv i {
    margin-left: 20px;
    font-size: 16px;
}

.suuportbt {
    height: 30px;
    position: absolute;
    margin-left: 1180px;
    margin-top: 9px;
    background-color: #0d0d0d;
    color: #fff;
    font-size: 12px;
    padding-left: 0%;
    border: transparent;
    justify-content: space-evenly;
}

.storebt {
    height: 30px;
    position: absolute;
    margin-top: 9px;
    background-color: #0d0d0d;
    color: #fff;
    font-size: 12px;
    padding-left: 0%;
    margin-left: 1280px;
    border: transparent;
}

.header i {
    font-size: 19px;


}

.cont1 {
    width: 100%;
    height: 490px;
    background-color: brown;
    display: flex;
    position: relative;
}

.cont1heading {
    width: 100%;
    height: 37px;
    position: absolute;
    margin-top: 165px;
    display: flex;
    /* background-color: chartreuse */

}

.headtextmod {
    font-size: 33px;
    font-weight: 800;
    color: #fff;
    margin-left: 870px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.cont1heading2 {
    width: 100%;
    height: 25px;
    position: absolute;
    margin-top: 215px;
    display: flex;
    letter-spacing: 1.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* background-color: chartreuse */

}

.headtextmod2 {
    font-size: 16px;
    color: #fff;
    margin-left: 910px;
}

.headbt {
    width: 100%;
    height: 38px;
    margin-top: 272px;
    /* background-color: aqua; */
    position: absolute;
}

.headbtmod {
    font-size: 15px;
    border-radius: 30px;
    font-weight: 600;
    width: 153px;
    height: 38px;
    margin-left: 810px;
    background-color: #fff;
}

.headbt2mod {
    font-size: 15px;
    border-radius: 30px;
    font-weight: 600;
    width: 170px;
    height: 38px;
    margin-left: 100px;
    background-color: #fff;
}

.headbt2mod:hover {
    background-color: #242424;
    color: #fff;
}

.headbtmod:hover {
    background-color: #242424;
    color: #fff;
}

.cont2 {
    /* background-color: brown; */
    width: 100%;
    height: 560px;


}

.cont2heading {
    /* background-color: blue; */
    width: 100%;
    height: 65px;
    display: flex;
}

.cont2headingmod {
    margin-left: 125px;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 15px;
}

.cont2imgdiv {
    height: 276px;
    width: 100%;
    /* background-color: blueviolet; */
    display: flex;
}

.con2blankdiv {
    height: 218px;
    width: 95px;
    /* background-color: burlywood; */
}

.cont2imgs {
    height: 276px;
    width: 276px;
    background-color: #f8f8f8;
    margin-left: 33px;

}

.cont2imgalign {
    width: 235px;
    height: 220px;
    padding-top: 55px;
    padding-left: 37px;

}

.cont2aboutimgdiv {
    width: 100%;
    height: 219px;
    /* background-color: darkgrey; */
    display: flex;
}

.aboutimg {
    height: 101.6px;
    width: 276px;
    margin-left: 33px;
    /* background-color: cornflowerblue; */
    /* display: flex; */
    display: block;


}

.editiondiv {
    width: 276px;
    height: 20px;
    background-color: #666;
    position: absolute;
}

.editiontext {
    font-size: 10px;
    margin-top: 6px;
    text-align: center;
    color: #fff;
    letter-spacing: 1px;

}

.aboutimgtext1and4 {
    font-size: 14.7px;
    margin-left: 10px;
    margin-top: 33px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.aboutimgtext {
    margin-top: 14.2px;
    font-size: 14.7px;
    margin-left: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.aboutimgtext2 {
    color: #666;
    font-size: 13px;
    font-weight: 400;
    margin-top: -20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 10px;

}

.cont3 {
    height: 488px;
    width: 100%;
    display: flex;
    position: relative;
}

.cont3textandbtdiv {
    width: 576px;
    height: 196px;
    /* background-color: blueviolet; */
    position: absolute;
    margin-left: 150px;
    margin-top: 155px;

}

.cont3text1 {
    color: #fff;
    text-align: center;
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cont3text2 {
    color: #fff;
    text-align: center;
    margin-top: -10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15.5px;
    letter-spacing: 2px;
    font-size: 14.5px;



}

.cont3bt {
    font-weight: 800;
    border-radius: 30px;
    width: 170px;
    height: 36px;
    margin-left: 200px;
    margin-top: 10px;
    color: #242424;
    font-size: 14.5px;
    background-color: #fff;

}

.cont3bt:hover {
    background-color: #242424;
    color: #fff;
}

.cont4 {
    height: 488px;
    width: 100%;
    display: flex;
    background-color: brown;
    position: relative;
}

.cont4textandbtdiv {
    height: 178.6px;
    width: 429.5px;
    /* background-color: chocolate; */
    position: absolute;
    margin-left: 886px;
    margin-top: 163px;
}

.cont4text1 {
    color: black;
    text-align: center;
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
}

.cont4text2 {
    color: black;
    text-align: center;
    margin-top: -10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

.cont4bt {
    font-weight: 800;
    border-radius: 30px;
    width: 170px;
    height: 36px;
    margin-left: 130px;
    margin-top: 10px;
    color: #fff;
    font-size: 14.5px;
    background-color: #242424;
}

.cont4bt:hover {
    background-color: #fff;
    color: #242424;
}

.cont5 {
    width: 100%;
    height: 488px;
    background-color: coral;
    display: flex;
    position: relative;
}

.cont5textandbtdiv {
    width: 429.5px;
    height: 215.5px;
    /* background-color: cornflowerblue; */
    position: absolute;
    margin-left: 150px;
    margin-top: 145px;

}

.cont5text1 {
    color: #fff;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    font-size: 14.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont5text2 {
    color: #fff;
    text-align: center;
    margin-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 16px;
}

.cont5bt {
    font-weight: 800;
    border-radius: 30px;
    width: 170px;
    height: 38px;
    margin-left: 130px;
    margin-top: 10px;
    color: #242424;
    font-size: 14.5px;
    background-color: #fff;
}

.cont5bt:hover {
    background-color: #242424;
    color: #fff;
}

.cont6 {
    height: 488px;
    width: 100%;
    display: flex;
    background-color: darkkhaki;
}

.cont6textandbtdiv {
    position: absolute;
    width: 586px;
    height: 193px;
    background-color: #fff;
    margin-left: 730px;
    align-self: center;
}

.cont6text1 {
    font-weight: 900;
    font-size: 47px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 15px;
    letter-spacing: -1px;

}

#cont6text2 {
    text-align: center;
    margin-top: -20px;
    font-size: 15.5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont6bt {
    font-weight: 800;
    border-radius: 30px;
    width: 170px;
    height: 36px;
    margin-left: 220px;
    margin-top: 10px;
    color: #fff;
    font-size: 14.5px;
    background-color: #242424;
    align-self: center;
}

.cont6bt:hover {
    background-color: #fff;
    color: black;
}

.cont7 {
    height: 488px;
    width: 100%;
    background-color: darkseagreen;
    display: flex;
}

.cont7textandbt {
    width: 429px;
    height: 178.6px;
    /* background-color: gray; */
    position: absolute;
    margin-left: 883px;
    align-self: center;
}

.cont7text1 {
    color: #fff;
    text-align: center;
    margin: 0;
    letter-spacing: 2px;
    font-size: 14.5px;
    margin-top: 7px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont7bt {
    font-weight: 800;
    border-radius: 30px;
    width: 170px;
    height: 38px;
    margin-left: 130px;
    margin-top: -6px;
    color: #242424;
    font-size: 14.5px;
    background-color: #fff;
}

.cont7bt:hover {
    background-color: #242424;
    color: #fff;
}

.cont8 {
    height: 96px;
    width: 100%;
    background-color: #191919;

}

.cont8ineerdiv {
    width: 1045px;
    height: 100%;
    margin-left: 207px;
    display: flex;
}

.cont8ineerdiv i {
    color: #595959;
    margin-top: 35px;
    font-size: 26px;
    margin-right: 40px;
}

.cont8ineerdiv p {
    margin-left: 829px;
    margin-top: 40px;
    color: #7F7F7F;
    font-size: 14px;
}

.iconfloat {
    font-size: 26px;
    margin-top: 40px;
    margin-left: -120px;
    color: #595959;
}

.cont9 {
    width: 1060px;
    height: 375px;
    background-color: #0d0d0d;
    margin-left: 197px;
    display: flex;
}

.cont9innerdiv {
    width: 300px;
    height: 100%;
    background-color: #0d0d0d;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    margin-right: 57px;

}

.cont9text1 {
    color: #fff;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    margin-top: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont9text2 {
    color: #8c8c8c;
    text-decoration: none;
    margin-top: 12px;
    font-size: 14px;
    letter-spacing: 1px;
    margin-left: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.cont9outerdiv {
    width: 100%;
    height: 375px;
    background-color: #0d0d0d;
}

.cont9text2:hover {
    text-decoration: underline;
    color: #fff;
}

.cont9text1:hover {
    text-decoration: underline;
}

.cont10 {
    height: 90px;
    width: 100%;
    background-color: #0d0d0d;
    display: flex;
}

#cont10text1 {
    color: #fff;
    font-weight: 800;
    font-size: 14.5px;
    text-decoration: none;
    margin-top: 28px;
    margin-left: 375px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cont10text2 {
    color: #8c8c8c;
    text-decoration: none;
    font-size: 14.5px;
    margin-left: 10px;
    margin-top: 28px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#cont10text2:hover {
    color: #fff;
    text-decoration: underline;
}

.cont11 {
    width: 100%;
    height: 106px;
    background-color: #0d0d0d;
    display: flex;
}

#footerlogomrg {
    margin-left: 198px;
}

.line {
    margin-top: 0%;
    margin-bottom: 120px;
    width: 910px;
    margin-left: -140px;
    border-top: 9px;
    background-color: #595959;
}

#cont11text {
    color: #666;
    font-size: 13px;
    margin-top: 40px;
    margin-left: 55px;
    /* font-weight: 600; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}